.blogpage{
    display: flex;
    gap:16px;
   justify-content: space-between;
   margin-top: 20px;
   font-size: 20px;
}
.blogCardSection{
    flex-wrap: wrap;
}
.menupadding{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: bisque;
    
}
.blogpage{
    display: flex;
    gap:16px;
}
.recentpost{
    position: sticky;
    border-style: groove;
    width: 50%;
    margin-top: 80px;
}
/* .blogCardSection{
    flex-wrap: wrap;
    display: flex;
} */
.blogContentArea{
    width: 98%;
    border-style: groove;
    margin: 60px;
    padding: 20px;
    
}
.iframeblog{
    /* width:fit-content; */
    border-style: groove;
    justify-content: center;
    /* height: max-content;
    width: max-content; */

}
.blogshome{
    display: flex;
    /* justify-content: space-between; */
}
.blogCard{
    width: 400px;
    margin: 30px auto;
    border: 1px solid lightgray;
    padding: 8px;
    /* justify-content: space-between; */
    /* border-radius: 14px 14px 0 0; */

}
.blogImgCard{
    width: 100%;
    border-radius: 14px 14px 14px 14px ;

}
.Post-cards{
    display: flex;
    flex-wrap: wrap;
    border-style: ridge;
}

.likeComment{
    display: flex;
    /* border-style: groove; */
    margin: 10px;
    gap:15px;
}
.btn{
    margin: 5px;
    padding: 5px;
    /* background-color: aqua; */
    border-style: groove;
    border-radius: 5px;
}
.recentpostlabel{
    background-color: chocolate;
    font-weight: 200;
    font-size:xx-large;
    text-align: center;
    /* width: 10%; */
}