.blogpage{
    display: flex;
    gap:16px;
   justify-content: space-between;
   margin-top: 10px;
   font-size: 20px;

}
.blogCardSection{
    flex-wrap: wrap;
}
.navlistblogs{
    list-style: none;
    width:fit-content;
    /* justify-content: left; */
    font-style: italic;
    /* flex-wrap: wrap; */
    margin: 2px;
    padding: 2px;
}
.menupadding{
    margin: 10px;
    padding: 10px;
    /* text-align: center; */
    /* background-color: bisque;    */
    border-style: groove;
    border-width: 0.1px;
}
.menupadding:hover{
    background-color: aqua;
    color: blue;
    cursor: pointer ;
}
.blogpage{
    display: flex;
    gap:16px;
}
.recentpost{
    position: sticky;
    /* border-style: groove; */
    width: 50%;
    /* margin-top: 80px; */
    margin-top: 35px;
}
/* .blogCardSection{
    flex-wrap: wrap;
    display: flex;
} */
.blogContentArea{
    width: 98%;
    /* border-style:groove; */
    margin-top: 40px;
    /* padding: 10px; */
    position: relative;
    
}
.iframeblog{
    /* width:fit-content; */
    /* border-style: groove; */
    /* justify-content: center; */
    /* height: max-content;
    width: max-content; */
    width: 100%;
    height: 100%;
    /* position: absolute; */
    left: 0;
    top: 0;


}
.blogshome{
    display: flex;
    /* justify-content: space-between; */
}
.blogCard{
    width: 300px;
    margin: 30px auto;
    border: 1px solid lightgray;
    padding: 8px;
    /* justify-content: space-between; */
    /* border-radius: 14px 14px 0 0; */

}
.blogImgCard{
    width: 100%;
    border-radius: 14px 14px 14px 14px ;

}
.Post-cards{
    display: flex;
    flex-wrap: wrap;
    /* border-style: ridge; */
}

.likeComment{
    display: flex;
    /* border-style: groove; */
    /* margin: 5px; */
    gap:15px;
    /* position: absolute;
    left: 0;
    bottom: 0; */
    
}
.btn{
    margin: 5px;
    padding: 5px;
    /* background-color: aqua; */
    border-style: groove;
    border-radius: 5px;   
}

.btn:hover{
    background-color: aqua;
    color: blue;  
    cursor: pointer;
}
.recentpostlabel{
    background-color: chocolate;
    font-weight: 200;
    font-size:xx-large;
    text-align: center;
    /* width: 10%; */
}
.blog-img{
    background-repeat: no-repeat; 
    background-size:cover;
    background-position:center;
    justify-content: center;
}