.EnterBMIdata{
    display: flex;
    justify-content: space-evenly;
}

.calculateBMI{
    display: flex;
}
.calculateBMIForm{
    margin:10px;
    /* justify-content:space-between; */

}
.bmicategories{
    /* display: none; */
    border: 1px;
    border: greenyellow;
    border-style: groove;
    margin:5px;
    padding: 1px;
    background-color: bisque;
    line-height: 1.4;
}
.BmiResultArea{
    border-radius: 5px;
    /* border-style: groove; */
    background-color: darkseagreen;
}