.EnterBMIdata{
    display: flex;
    justify-content: space-evenly;
}

.calculateBMI{
    display: flex;
}
.calculateBMIForm{
    margin:10px;
    /* justify-content:space-between; */

}
.bmicategories{
    /* display: none; */
    border: 1px;
    border: greenyellow;
    border-style: groove;
    margin:5px;
    padding: 1px;
    background-color: bisque;
    line-height: 1.4;
}
.bmiInputformtbl{
    font-size: 18px;
    color: blue;
}
.BmiResultArea{
    border-radius: 5px;
    /* border-style: groove; */
    background-color: linen;
}
h1{
    color: blue;
}
em{
    color: blue;
    font-size: 25px;
}
b{
    color: blue;
   font-size: 20px;
}
p{
    font-size: 20px;
}
.obesity-imgcard{
    float: right;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
    top: 5px;

}
.BookFreeConsultation{
    transform:translateX(100%);
    animation: cssmarquee 10s linear infinite;
}

#btn_BookFreeConsultation{
    font-size: 20px; 
    background-color: coral; border-radius: 10px ;padding:5px; margin: 5px;cursor: pointer;
    transform:rotateX('5');
    
}
