body{
    background-color:lightcyan;
  }

  .HomeMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0, 255, 255, 0.656);
    /* position:sticky;
    top: 1px; */
  }

  .navmenu{
    display: flex;
    gap:16px;
    justify-content: center;
    list-style: none;
    margin-right: 40px;
    color: black;
}
/* .navmenu:hover{
    background-color:yellow;
   
} */

#logo{
    display: flex;
    gap:16px;
    list-style: none;
}
.SubHeader{
    display: none;
    list-style: none;
  }
  .subreciepies:hover>.SubHeader{
    display: block;
  }

  .HomeIntroSection{
    display: flex;
  }
  .introduction{
    /* background-color: rgb(125, 216, 216); */
    border: 1px;
    width: 50%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    line-height: 1.2;
    border-color: blueviolet;
    border-width: 2px;
    /* border-style: dashed; */
}
.homeImg{
    /* width: 100%; */
    margin: 50px;
    width: 650px;;
    justify-content: center; 
    background-image: url("https://source.unsplash.com/1600x1000/?health") ;
    background-repeat: no-repeat; 
    border-radius: 10px;
}
.navlist{
    list-style: none;
    width:fit-content;
    justify-content: left;
    font-style: italic;
    flex-wrap: wrap;
    margin: 2px;
    padding: 2px;
}

.TodaysPoll{
    background-color: rgb(209, 222, 197);
    margin: 20px;
    padding: 20px;
    width: 60%;
}

.servicesCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;  
    align-items: flex-end;
    width: 300px;

}
.scard-img{
    width: 100%;
    border-radius: 14px 14px 0 0 ;
  }

  .scardbody{
    padding: 8px;
  }

  .services{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    /* width: 500px; */

  }

  .footer{
    /* background-color:rgb(198, 212, 188); */
    height: 200px;
    border-style:ridge;
    width:100%
    
  }
  a:link{
    color: black;
    
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    /* background-color: yellow; */
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  a{
    outline: none;
  }

  .container{
    display: flex;
    justify-content: space-between;
    /* display: block; */

  }
  .knowyourhealth{
    display: flex;
    gap: 20px;
    /* justify-content: space-between;
    display: block;
    border: 2px;
    border-radius: 5px; */
  }
  .btn{
    margin: 5px;
    padding: 5px;
    /* background-color: aqua; */
    /* border-style: groove; */
    border-radius: 5px;   
    font-size: large;
    /* transform: rotateX(90deg); */
}